<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>

    <style>
        caption {
            font-weight: bold;
            padding-bottom: 10px;
            font-size: 28px;
        }
    </style>
</head>
<body>
    <h1 >Table of cars</h1>

    <table  width="30%" border="1" cellpadding="4" cellspacing="0">
        <caption th:text="${header_cars}"></caption>
        <tr>
            <th th:text="${head_table1}">Mark</th>
            <th th:text="${head_table2}">Series</th>
            <th th:text="${head_table3}">Color</th>
        </tr>
        <tr>
            <th>
                <th:block th:each="lc : ${list_cars}">
                    <p th:text="${lc.getMark()}"></p>
                </th:block>
            </th>
            <th>
                <th:block th:each="lc : ${list_cars}">
                    <p th:text="${lc.getSeries()}"></p>
                </th:block>
            </th>
            <th>
                <th:block th:each="lc : ${list_cars}">
                    <p th:text="${lc.getColor()}"></p>
                </th:block>
            </th>
        </tr>
    </table>
</body>